# Core Dependencies
Flask
Flask-Cors==6.0.0
pandas==2.1.4
openpyxl==3.1.2  # For Excel file handling
python-dotenv==1.0.1  # For environment variables
reportlab==4.1.0  # For PDF generation
PyPDF2==3.0.1  # For PDF manipulation
